.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Formulario reserva */
.Reserva {
  width: 100%;

  min-height: 100vh;
  flex-grow: 0;
  position: relative;
  background-color: #070024;
}

.Form_reserva {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 58px;
  /* margin: 64px 67px 80px 61px; */
  padding: 0;
}


.input-sin-desplegar {
  width: 282px;
  height: 40px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* gap: 106px; */
  padding: 8px;
  border-radius: 8px;
  border: solid 2px #c10230;
  background-color: #070024;
  color: white;
}

.input-sin-desplegar2 {
  width: 262px;
  height: 20px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 106px;
  padding: 8px;
  border-radius: 8px;
  border: solid 2px #c10230;
  background-color: #070024;
  color: white;
}

.Main-Button-Original {
  width: 180px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #c10230;
  color: white;
}